.popup {
    position: fixed;
    top: 70px;
    height: 139px;
    width: 150px;
    right: 15px;
    z-index: 99999;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .content {
        position: relative;
        text-align: left;
        margin-left: 10px;

        .text {
            font-family: "SF-Sm-Bd";
            color: #4c5968d2;
            font-size: 13px;
            border-bottom: 1px solid #aeb8c4aa;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 20px;
            span {
                scale: .8;
            }
        }
          .removeText {
            color: #ff0000;
          }
    }
}