@font-face {
    font-family: "SF-Rg";
    src: url("../../../public/fonts/SFProDisplay-Regular.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "SF-Sm-Bd";
    src: url("../../../public/fonts/SF-Pro-Display-Semibold.ttf");
    font-display: swap;
  }
