@import "./shared/fonts";



*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

body {
  position: relative;
}
.recharts-wrapper {
    svg {
        width: 90% !important;
        height: 40%  !important;
       margin-left: -25%; 
       margin-top: 0%; 

    }
}
.main-page {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .main-page {
    display: block;
  }
}